* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
body {
  font-size: 16px;
  font-family: "Arial", sans-serif;
}
.box1{
  padding: 3rem;
  background-color: bisque;
}
.box2{
  padding: 5rem 3rem;
  background-color: rgb(218, 170, 111);
}
.box3{
  padding: 3rem;
  background-color: rgb(219, 157, 80);
}
.btn {
  padding: 5px 15px;
}
h1 {
  text-align: center;
}
